parameters:
  level: 8
  paths:
    - src

  excludePaths:
    - vendor (?)

  # Эти два параметра из Hexlet-check (checkMissingIterableValueType и phpstanFunctionalProgramming)
  # в твоей версии PHPStan отсутствуют, но их поведение можно имитировать настройками ниже.

  reportUnmatchedIgnoredErrors: false

  # "Фильтр" ошибок совпадает с Hexlet-check: убирает ворнинги о return type и анонимных функциях
  ignoreErrors:
    - '#has no return type specified#'
    - '#should return .* but returns#'
    - '#Anonymous function should have native return type#'
